.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.meme-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #3b3486;
  border-radius: inherit;
  /* overflow-x: auto; */
  /* width: 100%; */
}
.meme {
  display: flex; /* ADD */
  flex-direction: column;
}

.meme--image {
  width: 100%;
  height: 150px;
  border-radius: 9px;
  margin-bottom: 9px;
}
.meme--image:hover {
  cursor: pointer;
}

.MemeNav {
  border: 5px solid black;
  border-radius: 2%;
  background-color: #7743db;
  /* border-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-form {
  display: grid;
  gap: 10px;
  grid-template: 40px / 1fr 1fr;
}
